In [5]:
Q1:
values are 'hello' , -87.8, 6
expressiona are * , - , / , +

In [ ]:
Q2:
string is written under '', "",""" """(quotes)
variables are standalone.

In [ ]:
Q3:
data types are string str , integer int, floating numbers floating

In [ ]:
Q4:
expressions are made up of variable and a data type with or without 
conditions and can performs operations . they hold some or other kind
of data that might concludes to a output.

In [ ]:
Q5:
expression is written with some variables , operations,  conditions i.e. it 
can result in output ,its actionable.eg. 2*5 or 'sudh' * 3

statement on other hand is  the command
we use to evaluate an expression. eg. print()

In [10]:
b=22
b+1

23

In [12]:
b

22

In [ ]:
Q6
bacon contains 22

In [ ]:
Q7
both will results 'spamspamspam'

In [ ]:
Q8
numbers cant be declared as variable names in python.

In [ ]:
Q9
for interger int(), for floating- point number float(), for string str()

In [ ]:
Q10
because strings cant be concatenated with integers.
fix: 'I have eaten'  + '99' +  'burritos.'